*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.contenedor-zillow{
    display: flex;
    gap: 10px;

}
#casas{
    max-height: 550px;
    overflow-y: scroll;
}
.casa{
 width: 22rem;
}
.casa img{
 width: 100%;
 height: 12rem;
}
#casas{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.descripcion{
    display: flex;
    gap: 5px;
}